PLAN*.md
node_modules
dist
coverage
.env
.DS_Store
.vscode

deployments/

packages/dapp/move/**/build/
packages/dapp/move/**/.trace
packages/dapp/move/**/.coverage*
packages/dapp/move/**/Pub.localnet.toml
packages/dapp/move/**/Move.lock
packages/dapp/move/**/Published.toml

patches/pyth-crosschain/

tmp.json

.pnpm-store 

tmp*