PLAN*.md
node_modules
dist
coverage
.env
.DS_Store
.vscode

**/next-env.d.ts
**/tsconfig.tsbuildinfo

deployments/

packages/dapp/**/build/
packages/dapp/**/.trace
packages/dapp/**/traces
packages/dapp/**/.coverage*
packages/dapp/**/lcov*
packages/dapp/**/Pub.localnet.toml
packages/dapp/**/Move.lock
packages/dapp/**/Published.toml

patches/pyth-crosschain/

tmp.json

.pnpm-store 

tmp*
