PLAN*.md
node_modules
dist
coverage
.env
.DS_Store
.vscode

**/next-env.d.ts
**/tsconfig.tsbuildinfo

deployments/

packages/dapp/contracts/**/build/
packages/dapp/contracts/**/.trace
packages/dapp/contracts/**/traces
packages/dapp/contracts/**/.coverage*
packages/dapp/contracts/**/lcov*
packages/dapp/contracts/**/Pub.localnet.toml
packages/dapp/contracts/**/Move.lock
packages/dapp/contracts/**/Published.toml

patches/pyth-crosschain/

tmp.json

.pnpm-store 

tmp*
